
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #111;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #0099FF;
}
#logo {
  fill: #EEE;
  stroke: #EEE;
/*  stroke-miterlimit: 10;*/
  stroke-dasharray: 1300;
  opacity: 10;
  animation: animate 3s cubic-bezier(0,0.23,1,.1)
}
@keyframes animate {
  0% {
/*    opacity: 0;*/
    fill: none;
    stroke-dashoffset: 1300;
  }
  30% {
    /*opacity: 10;*/
    fill: none;
    stroke-dashoffset: 1300;

  }
  90% {
    fill: rgba(255,255,255,0);
  }
  100% {
   /* opacity: 10;*/
    fill: rgba(255,255,255,1);
  }
}
