body {
  background-color: $background;
  padding: 20px;
  padding-top: 0;
  margin: 0;
  font-family: helvetica;
}

h1 {
  font-weight: 300;
  color: $light;
}

h3 {
  font-weight: lighter;
  color: $middle;
  margin-top: 0;
}

h6 {
  font-weight: lighter;
  color: $middle;
  margin: 0;
  margin-bottom: 1vh;
  font-size: 20px;
}

p {
  color: $light;
  margin: 0;
  font-size: 15px;
}

.content {
    background-color: $background;
    padding: 5vw;
  }
  
  .content h2 {
    padding: 0;
    margin: 0;
  }
  
  
  .content li {
    margin-bottom: 10px;
  }

  .contact-container {
    position: fixed;
    top: 0;
    right: 0;
    margin: none;
    background-color: white;
    height: 100vh;
    width: 5vw;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .side-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;

    button {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $background;
    }
  }