.title {
    display: flex;
    justify-content: center;
    height: 22px;
    margin-top: 7vh;
}

.typed {
    color: white;
    font-size: 28px;
    letter-spacing: 3px;
    font-family: 'Roboto Mono', monospace;
}

.project-description {
    margin-top: 7vh;
    padding-right: 32vw;
    padding-left: 32vw;
}

.motion-paragraph {
    color: #222;
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.3rem;
}