$background: #222;
$dark: #3c3c3c;
$middle: #6c6c6c;
$light: #ddd;
$white: #fff;


body {
  background-color: $background;
  padding: 20px;
  padding-top: 0;
  margin: 0;
  font-family: helvetica;
}

h1 {
  font-weight: 300;
  color: $light;
}

h3 {
  font-weight: lighter;
  color: $middle;
  margin-top: 0;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: $background;
  padding: 0;
  margin-top: 0;
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid $dark;
}

ul.header li a {
  color: $light;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

.nav-text {
  padding: 20px;
}

.content {
  background-color: $background;
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}


.content li {
  margin-bottom: 10px;
}

.nav-text.active {
  background-color: $dark;
}

#header-logo {
  fill: $light;
  width: 2rem;
  padding: calc(20px - 1rem);
}

.logo-wrapper {
  width: 33%;
  height: 33vw
}

.home-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
  flex-direction: column;
}
#logo {
  margin-top: 20%;
/*  stroke-miterlimit: 10;*/

  opacity: 10;
}

.logo {
  fill: rgba(221,221,221,1);
  stroke: none;
  stroke-dasharray: 3000;
  animation: animate 3s cubic-bezier(0,0.23,1,.1)

}

@keyframes animate {
  0% {
/*    opacity: 0;*/
    stroke: $white;
    fill: none;
    stroke-dashoffset: 3000;
  }
  10% {
    /*opacity: 10;*/
    stroke: $white;
    fill: none;
    stroke-dashoffset: 3000;

  }
  95% {
    fill: rgba(221,221,221,0);
    stroke: rgba(255,255,255,0);
    // opacity: 0
  }
  100% {
    fill: rgba(221,221,221,1);

  }
}
